
    <h1>About Me</h1>
    <p>ポートフォリオをご覧いただきありがとうございます</p>

    <section>
      <h2>自己紹介</h2>
      <p>
        こんにちは！私は疋田哲崇（ひきた　よしたか）です。</br>
        DMMWEBCAMPにて２０２４年９月よりプログラムの学習をスタートしました。
      </p>
    </section>
    <section>
      <h2>スキルセット</h2>
      <ul>
        <li>HTML / CSS / JavaScript</li>
        <li>Ruby on Rails</li>
        <li>バージョン管理（Git / GitHub）</li>
      </ul>
    </section>
    <section>
      <h2>興味・挑戦していること</h2>
      <p>
        クラウドプラクティショナーの勉強を開始。
      </p>
    </section>
    <section>
      <h2>趣味・人となり</h2>
      <p>
       趣味はアニメ鑑賞。健康のために筋トレにハマって週２．３回で継続中。
      </p>
    </section>
    <section>
      <h2>連絡先・SNS</h2>
      <p>
        下記をご利用ください。
      </p>
      <ul>
        <li>メール: <a href="mailto::yoshitakahikita23@gmail.com">yoshitakahikita23@gmail.com</a></li>
        
        <li>GitHub: <a href="https://github.com/Yoshi1900">https://github.com/Yoshi1900</a></li>
      </ul>
    </section>