<h1>タグ一覧</h1>

<div class="tag-list">
  <% @tags.each_slice(20) do |tags_slice| %>
    <div class="tag-column">
      <ul>
        <% tags_slice.each do |tag| %>
          <li><%= link_to tag.name, tag_playgrounds_path(tag) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<%= paginate @tags %>