/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('main_kabegami.jpg');
  background-size: contain;
  background-repeat: repeat;
  width: 100%;
}

/*.sticky-container {*/
/*  position: sticky;*/
/*  top: 0;*/
/*  right: 0;*/
/*  left: 0;*/
/*  z-index: 10;*/
/*  width: 100%;*/
/*  margin: 0;*/
/*}*/

header {
  background-image: url('mokumetyou.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.btn-outline-dark {
  margin-right: 10px;
  margin-bottom: 5px;
}



footer {
  background-image: url('mokumetyou.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: auto;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}

/*p {*/
/*  z-index: 5;*/
/*}*/

.text-center {
  padding: 15px;
  font-family: 'Kiwi Maru', sans-serif;
}