<div class="search">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :content, placeholder: "検索", class: "search-input" %>
    <button type="submit" class="btn btn-outline-dark">
      <i class="fas fa-search"></i>
    </button>
  <% end %>
</div>